statblock {
  position: relative;
  display: block;
  padding-left: 55px;
  margin-top: -1em;
  margin-bottom: -1.75em;
}

statblock [spacer] {
  margin-bottom: 0.5em;
}

statblock hp,
statblock ac,
statblock sbtitle,
statblock item {
  display: block;
}

statblock skills, statblock technique, statblock details, statblock accuracy {
  margin: 1em 0;
}

statblock accuracy {
  display: flex;
}

statblock summary {
  cursor: pointer;
}
statblock sbtitle {
  font-weight: bold;
}
statblock info {
  position: absolute;
  left: -15px;
  width: 50px;
  height: 50px;
  text-align: center;
}
statblock img {
  display: block;
  margin-bottom: 0.75em;
  object-fit: contain;
  width: 100%;
  border-radius: 100%;
}

statblock ava::after
{
 box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.5);
 content: '';
 display: block;
 height: 100%;
 position: absolute;
 top: 0;
 width: 100%;
 border-radius: 100%;
}

statblock hp,
statblock ac {
  display: block;
}

statblock stat, statblock melee, statblock ranged {
  display: flex;
  align-items: center;
  margin-right: 6px;
}
statblock techniques {
  margin-top: 0.75em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}
statblock techniques stat, statblock techniques melee, statblock techniques ranged {
  flex-grow: 1;
  flex-shrink: 0;
}
statblock skills {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 0.25em;
}

statblock skills stat {
  width: min-content;
}

statblock [type]::before{
  display: inline-block;
  width: 1.2em;
  text-align: left;
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  padding-right: 6px;
  -webkit-font-smoothing: antialiased;
}

statblock melee::before,
statblock ranged::before {
  display: inline-block;
  font-family: "saturnicons";
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  padding-right: 6px;
}
statblock melee::before {
  content: "\e243";
}
statblock ranged::before {
  content: "\e053";
  transform: translatey(-3px) rotate(-40deg) ;
}
statblock [type="offense"]::before {
  content: "\f6b2";
}
statblock [type="support"]::before {
  content: "\f055";
}
statblock [type="defense"]::before {
  content: "\f132";
}
statblock [type="companion"]::before {
  content: "\f702";
}
statblock [type="armor"]::before {
  content: "\f6eb";
}
statblock [type="weapon"]::before {
  content: "\f71d";
}
statblock [type="accessory"]::before {
  content: "\f70b";
}
statblock [type="brew"]::before {
  content: "\f6e1";
}
statblock [type="food"]::before {
  content: "\f2e6";
}
statblock [type="ammo"]::before {
  content: "\f753";
}
